<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}">
    <label for="query">input search query</label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Search!">
</form>

<div th:if="${books}">

    <div th:if="${books.isEmpty()}">
        <span>No have books</span>
    </div>

    <div th:each="book: ${books}">
        <p th:text="${book.getTitle()+' '+book.getAuthor()+' '+book.getYear()}">book</p>

        <div th:if="${book.getOwner() !=null}">
            <span>Book owner is:</span> <span th:text="${book.getOwner().getName()}">Person name</span>
        </div>

        <div th:if="${book.getOwner()==null}">
            <span>book has not owner</span>
        </div>

        <hr/>

    </div>

</div>
</body>
</html>